<% layout('/layouts/boilerplate') %>
<body>

    <h3 class="text-center m-3">Edit your Listings</h3>
    <div class="row m-3">
        <div class="col-8 offset-2">
            <form  novalidate class="needs-validation" method="POST" action="/listings/<%= listing._id %>?_method=PUT">
               <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input required id="title" class="form-control" name="listing[title]" value="<%= listing.title %>" type="text">
                <div class="valid-feedback">
                    Looks good!
                  </div>
               </div>
               <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea required id="description" class="form-control" name="listing[description]"  type="text"><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>

               </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Link</label>
                    <input id="image" class="form-control" type="url" value="<%= listing.image %>" name="listing[image]">
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input required id="price" class="form-control" name="listing[price]"type="text" value="<%= listing.price %>">
                        <div class="invalid-feedback">
                            Please enter valid price!
                          </div>
                    </div>
                    <div class="col-md-8">
                        <label class="form-label" for="location">Location</label>
                        <input required id="location" class="form-control" name="listing[location]"   value="<%= listing.location %>" type="text">
                        <div class="valid-feedback">
                            Looks good!
                          </div>


                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="country">Country</label>
                    <input required id="country" class="form-control"  name="listing[country]" value="<%= listing.country %>" type="text">
                    <div class="valid-feedback">
                        Looks good!
                      </div>


                </div>
                
                
                
                
                <button class="btn edit-btn px-5">Edit</button>
            </form>
        </div>
    </div>
    
    <script src="/js/script.js"></script>
</body>
