<% layout('/layouts/boilerplate') %>
<body>
    <h1 class="bg-danger p-5 rounded-2 m-5" >All Listings</h1>
    <!-- <form method="get" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <div class="row  row-cols-lg-3  row-cols-md-2 row-cols-sm-1 ">
            
                <% for(let listing of allListings){ %>
                    <a class="text-decoration-none" href="/listings/<%= listing.id %>" target="_blank" rel="noopener noreferrer">
                    
                        <div class="card col" >
                            <img src="<%= listing.image %>" class="card-img-top" alt="<%= listing.title %>">
                            <div class="card-img-overlay">Santosh Kumar</div>
                            <div class="card-body">
                              <p class="card-text"><%= listing.title %></p>
                              <p class="card-text">&#8377;<%= listing.price.toLocaleString() %>/night</p>
                            </div>
                          </div>
                        <!-- <li><a href="/listings/<%= listing._id %>" target="_blank" rel="noopener noreferrer"><%= listing.title %></a></li> -->
                    </a>
                    
            
            
                    <% } %>

            
        </div>
    

    </ul>
</body>
