<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>All Chats</h1>
    <form action="/chats/new" method="POST">
        <button>Create new Chat</button>
    </form>
   <%  for(let chat of Chats){    %>
    <div class="chat">
        <p> From:<%=   chat.from  %>   </p>
        <div class="msg">
            <p><%= chat.msg %></p>
            <form action="/chats/<%= chat._id %>/edit"  method="post">
            <button>Edit </button>
            </form><br>
            <form action="/chats/<%=chat._id %>/?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
        <p> Received By:<%= chat.to %></p>

        <hr>
       
        <p><%= chat.created_at.toString().split(" ")[4] %></p> <!-- //Time -->
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p><!-- Date -->
    </div>


    


    <% }   %> 
</body>
</html>

